:root {
  --primaryColor:  #0524DD;
  --secondaryColor: #10069f;
  --complementaryColor1: #FF671F;
  --complementaryColor2: #0063f2;
  --complementaryColor3: #27E0FF;
  --borderColor: #e4e4e7;
  --bgDefaultColor: #fff;
  --bgDarkColor: #070E37;
  --bglightColor: #EEEEEE;
  --bglight2Color: #F4F4F5;
  --bgPopUpColor: #fff;
  --textPrimaryColor: #525252;
  --textSecondaryColor: #A7A8AA;
  --textLightColor: #fff;
  --WhiteTransparency:#ffffffd8;
  --bgDarkColor2: #000211;
  --warrenTerracota: #C7452D;
  --warrenGold: #C7935A;
  --warrenDarkCharcoal: #313131;
  --warrenMortar: #525252;
  --warrenStormGray: #757680;
  --warrenGrey: #807C7B;
  --warrenGainsboro: #DBDBDB;
  --warrenMetropole: #EBE7E6;
  --warrenSolitude: #E5E7EB;
  --warrenHintOfRed: #FAF8F7;
  --warrenWhisper: #F7F3F2;
  }
