:root {
  --primaryColor:  #0524DD;
  --lightPrimaryColor: #314FFC;
  --darkPrimaryColor: #09155D;
  --borderColor: #BDBDBD;
  --bgDefaultColor: #fff;
  --bgDarkColor: #343644;
  --bgLightColor: #EFEFEF;
  --bgLight2Color: #FFF;
  --bgPopUpColor: #fff;
  --textPrimaryColor: #3C3F50;
  --textSecondaryColor: #A3A3A3;
  --textLightColor: #fff;
  --WhiteTransparency:#ffffffd8;
  --bgDarkColor2: #000211;
  --warrenTerracota: #C7452D;
  --warrenGold: #C7935A;
  --warrenDarkCharcoal: #313131;
  --warrenMortar: #525252;
  --warrenStormGray: #757680;
  --warrenGrey: #807C7B;
  --warrenGainsboro: #DBDBDB;
  --warrenMetropole: #EBE7E6;
  --warrenSolitude: #E5E7EB;
  --warrenHintOfRed: #FAF8F7;
  --warrenWhisper: #F7F3F2;
  }
